/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 880px;
	margin: 0 auto;
}

header {
	width: 100%;
	margin-top: 20px;
}

header nav {
	display: inline-block;
	height: 30px;
}

header nav a {
	font-size: 16px;
	margin: 0 30px;
	text-decoration: none;
	color: grey;
}

header img {
position: relative;
top: 10px;
right: 0px;
}

.hero {
	margin-bottom: 125px;
}

.hero div {
	display: inline-block;
	text-align: center;
	position: relative;
	top: 10px;
	left: 100px;
	margin-left: 20px;
}

.hero h1 {
	font-size: 80px;
}

.hero img {
	display: inline-block;
	position: relative;
	left: 200px;
	top: 60px;
	margin-right: 10px;
	
}

button {
	height: 35px;
	width: 180px;
	font-size: 16px;
	position: relative;
	bottom: 5px;
	background-color: white;
	border: solid black 1px;
}

article .section-one div {
	display: inline-block;
	width: 430px;
}
article h3 {
	font-size: 16px;
}
article p {
	font-size: 16px;
}

.section-one {
	margin: 30px auto;
}

.about {
	margin-left: 10px;
}
.image {
	display: block;
	/* margin-bottom: 30px; */
}

article .section-two div {
	display: inline-block;
	width: 240px;
}

.section-two {
	margin: 40px auto;
}

.product {
	margin-left: 75px;
}

.vision {
	margin-left: 75px;
}

footer {
	margin-top: 30px;
	font-size: 16px;
}

footer address {
	margin-bottom: 20px;
}

footer a {
	display: block;
}

footer .copyright {
	margin: 50px 0px;
	text-align: center;
}